@import url(http://fonts.googleapis.com/css?family=Oswald);
.btns
{ 
    margin-top:1%;
}

* {
    margin: 0;
    padding: 0;
  	-moz-box-sizing: border-box;
  	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}


.ulclass {
		margin: 5px auto;
		text-align: center;
	}

.liclass 
	{
	    margin-right: 20px;
		list-style: none;
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
	
	}

@-moz-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

@-webkit-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	
@-o-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

@keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

.round 
	{
	    color:White;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 32px;		
		text-decoration: none;		
		text-align: center;	
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;		
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		box-shadow: 2px 2px 7px rgba(0,0,0,.2);
		border-radius: 300px;
		z-index: 1;
		border-width: 4px;
		border-style: solid;
	}

.round:hover 
	{
	    color:Black;
		width: 130%;
		height: 130%;
		left: -15%;
		top: -15%;
		font-size: 20px;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding-top: 48px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

a.red {
		background-color: rgba(13, 33, 250, 0.30);
		color: White;
		border-color: rgba(113, 121, 255, 0.33);
	}

a.red:hover {
	    font-size:0px;
	}

a.green {
		background-color: rgba(111, 154, 255, 0.30);
		color: White;
		border-color: rgba(9, 152, 255, 0.57);
	}

a.green:hover {
	    font-size:0px;
	}

a.yellow {
		background-color: rgba(102,102,0,1);
		color: White;
		border-color: rgba(51,51,0,.2);
	}

a.yellow:hover {
	    font-size:0px;	
	}

.round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1px;
		border: none;
		padding: 40% 20% 0 20%;
		color: White;
	}

.round span:hover {
		opacity: .85;
		font-size: 16px;
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);	
	}

.green span {
		background: rgba(9, 152, 255, 0.69);		
	}

.red span {
		background: rgba(9, 152, 255, 0.69);		
	}

.yellow span {
		background: rgba(102,102,0,.7);	

	}













#mymenu,
#mymenu ul,
#mymenu ul li,
#mymenu ul li a,
#mymenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#mymenu:after,
#mymenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#mymenu #menu-button {
  display: none;
}
#mymenu {
  width: auto;
  border: 2px solid blue;
  border-radius: 2px;
  font-family: Calibri, sans-serif;
  line-height: 1;
  background: black;
  box-shadow: 1px 1px 0 white, 2px 2px 0 white, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#mymenu > ul {
 // background: url('images/bg.png');
 
}
#mymenu > ul > li {
  float: left;
}
#mymenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#mymenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#mymenu.align-right > ul > li {
  float: right;
}
#mymenu > ul > li > a {
  padding: 18px 12px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#mymenu > ul > li > a:hover,
#mymenu > ul > li:hover > a,
#mymenu > ul > li.active > a {
  color: blue;
}
#mymenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: blue;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#mymenu.small-screen {
  width: 100%;
}
#mymenu.small-screen > ul,
#mymenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#mymenu.small-screen > ul > li,
#mymenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#mymenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#mymenu.small-screen > ul > li:after,
#mymenu.small-screen > ul > li:before {
  display: none;
}
#mymenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  background: url('images/bg.png');
}
#mymenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#mymenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  width: 18px;
  height: 3px;
}
#mymenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
#mymenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: blue;
}
#mymenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#mymenu.small-screen #menu-indicator {
  display: none;
}
